.eventbox{
  width: 19px;
  height: 19px;
  margin: 1px;
}
.eventbox.birthday{
  outline: 1px dashed green;
}
.eventbox.past{
  background: #eeffee;
}
.eventbox.future{
  background: white;
}
.eventbox.present{
  background: greenyellow;
  outline : 2px solid green;
}
.eventbox:hover {
  z-index: 1;
  outline: 1px solid green;
}
