.eventbox{
  width: 19px;
  height: 19px;
  margin: 1px;
  outline: 1px solid #333333;
}
.eventbox.birthday{
  background: green;
  outline-color: darkgreen;
}
.eventbox.past{
  background: grey;
}
.eventbox.future{
  background: whitesmoke;
}
.eventbox.present{
  background: greenyellow;
  outline : 3px solid black;
}
.eventbox:hover {
  z-index: 1;
  outline: 1px solid green;
}
